@page
@model Rookie.Ecom.Customer.Pages.ProductDetailModel
@{
}
<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            @* @foreach(var image in Model.productImages ){
                <img src="https://drive.google.com/uc?export=view&id=@(image.ImageUrl)" alt="">}*@
            @if (Model.productImages.Count() == 1)
            {
                foreach (var image in Model.productImages)
                {
                    <img src="https://drive.google.com/uc?export=view&id=@(image.ImageUrl)" alt="">
                    <img src="https://drive.google.com/uc?export=view&id=@(image.ImageUrl)" alt="">
                }
            }
            else
            {
                foreach (var image in Model.productImages)
                {
                    <img src="https://drive.google.com/uc?export=view&id=@(image.ImageUrl)" alt="">
                }
            }
        </div>
    </div>
    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <a href="#">
            <h2>@(Model.product.Name)</h2>
        </a>

        <div class="rating">
            @if (Model.productRatings.Count() == 0)
            {
                <p class="product-desc"> This product have no rating yet</p>
            }
            else
            {
                for (int i = 0; i < (int)Model.ratingStar; i++)
                {
                    <i class="fa fa-star"></i>
                }
                <a>( @Model.ratingStar )</a>
            }
            @*            <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>*@
        </div>
        <p class="product-price"> $ @(Model.product.Price)</p>
        <p class="product-desc"> @(Model.product.Desc)</p>

        <form method="post" asp-controller="Cart" asp-action="AddToCart" class="checkout-form" >
        <div class="row product-quantity">
            <div class="pro-qty">
                <input id="Quanlity" name="Quanlity" type="text" value="1">
            </div>
        </div>
        <input id="ProductId" name="ProductId" value="@Model.productId" hidden />
        <!-- Form -->
        @*<form class="cart-form clearfix" method="post">*@

            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <button type="submit" class="btn essence-btn">Add to cart</button>
            </div>
        @*</form>*@
        </form>
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->


<section class="cart-total-page spad">
    <form method="post" asp-controller="Rating" asp-action="Rating" class="checkout-form">
        @*  <div class="row">*@
        <div class="col-lg-12">
            <h4>Your Rating</h4>
        </div>
        @*<div class="d-flex my-3">*@
        <div class="rating">
            <a type="radio" onclick="CRate(1)" class="ratingStar fas fa-star" value="1"></a>
            <a type="radio" onclick="CRate(2)" class="ratingStar fas fa-star" value="2"></a>
            <a type="radio" onclick="CRate(3)" class="ratingStar fas fa-star" value="3"></a>
            <a type="radio" onclick="CRate(4)" class="ratingStar fas fa-star" value="4"></a>
            <a type="radio" onclick="CRate(5)" class="ratingStar fas fa-star" value="5"></a>
        </div>
        @*</div>*@
        <div class="col-lg-12">
            @*<input name="Gender" value = "1" hidden></input>*@
            <div class="row">
                <div class="col-lg-8 form-group">
                    @*<label>Leave a comment</label>*@
                    <input name="Comment" type="text" class="form-control" placeholder="Leave a comment" style="margin-bottom: 0px; margin-top: 20px;" required>
                </div>
            </div>
        </div>

        <input id="Rating" name="Rating" value="5" hidden />
        <input id="ProductId" name="ProductId" value="@Model.productId" hidden />

        @*</div>*@
        <div class="row">
            <div class="col-lg-3">
                <div class="payment-method">
                    <button type="submit">Rate!</button>
                </div>
            </div>
        </div>
    </form>
</section>

@section scripts{
<script>
    $(".ratingStar").click(function () {
        $(".ratingStar").addClass("far").removeClass("fas");

        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
    });
    function CRate(r) {
        $("#Rating").val(r);
    }
</script>
 }



<section class="cart-total-page spad">
    <div class="checkout-form">
    <div class="col-lg-12">
        <h4>All Rating (@Model.productRatings.Count() rates)</h4>
    </div>
    @foreach (var rate in @Model.productRatings)
    {
        <div class="rating" style="margin-top: 20px;margin-left: 10px;">
            @for (int i = 0; i < rate.Star; i++)
            {
                <a class="fas fa-star" style="font-size: 16px;"></a>
            }
        </div>
        @*</div>*@
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8 form-group">
                    @*<label>Leave a comment</label>*@
                    <p class="product-desc" style = "border-bottom: 2px solid #E7EBED; margin-top: 5px; padding-bottom: 12px;">@rate.Feedback</p>
                </div>
            </div>
        </div>
    }
    </div>
</section>


