@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model Rookie.Ecom.Customer.Pages.ProductModel
@{
    ViewData["Title"] = "Product page";
}
<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Category</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#clothing">
                                    @*<a href="#">Category</a>*@
                                    <ul class="sub-menu collapse show" id="clothing">
@*                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Bodysuits</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Hoodies &amp; Sweats</a></li>
                                        <li><a href="#">Jackets &amp; Coats</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Pants &amp; Leggings</a></li>
                                        <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                        <li><a href="#">Shirts &amp; Blouses</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Sweaters &amp; Knits</a></li>*@
                                        <li><a asp-page = "@Configuration.GetSection("AspPageRounting")["Listing"]" asp-route-pageNo="1" >All</a></li>
                                        @foreach (var category in Model.categorys)
                                        {
                                            <li><a asp-page = "@Configuration.GetSection("AspPageRounting")["Listing"]" asp-route-categoryId="@category.Id" asp-route-pageNo="1" >@category.Name</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                @*                                    <div class="total-products">
                                    <p><span>186</span> products found</p>
                                    </div>*@
                                <!-- Sorting -->
                                @* <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                    <select name="select" id="sortByselect">
                                    <option value="value">Highest Rated</option>
                                    <option value="value">Newest</option>
                                    <option value="value">Price: $$ - $</option>
                                    <option value="value">Price: $ - $$</option>
                                    </select>
                                    <input type="submit" class="d-none" value="">
                                    </form>
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @foreach (var product in Model.products.Items)
                        {
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                <div class="product-img">
                                        <img src="img/product-img/product-1.jpg" alt="">
                                    </div>

                                    <!-- Product Description -->
                                <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6>@product.Name</h6>
                                        </a>
                                        <p class="product-price">@product.Price</p>

                                        <!-- Hover Content -->
                                    <div class="hover-content">
                                            <!-- Add to Cart -->
                                        <div class="add-to-cart-btn">
                                                <a href="#" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        @*@if (Model.currentPage < 1 || Model.currentPage == 1)
                        {
                            Model.currentPage = 1;
                        }
                        else*@
                        @if (Model.currentPage > 1)
                        {

                            <li class="page-item"><a class="page-link" asp-page = "@Configuration.GetSection("AspPageRounting")["Listing"]" asp-route-categoryId="@Model.category" asp-route-pageNo="@(Model.currentPage-1)"><i class="fa fa-angle-left"></i></a></li>
                        }

                        <li class="page-item"><a class="page-link" href="#">@Model.currentPage</a></li>

                        @if (Model.currentPage >= Model.products.TotalPages)
                        {
                            Model.currentPage = Model.products.TotalPages;
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-page = "@Configuration.GetSection("AspPageRounting")["Listing"]" asp-route-categoryId="@Model.category" asp-route-pageNo="@(Model.currentPage+1)"  ><i class="fa fa-angle-right"></i></a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
