@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model Rookie.Ecom.Customer.Pages.ProductModel
@{
    ViewData["Title"] = "Product page";
}
<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Category</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#clothing">
                                    <ul class="sub-menu collapse show" id="clothing">
                                        <li><a asp-page="@Configuration.GetSection("AspPageRounting")["Listing"]" asp-route-pageNo="1">All</a></li>
                                        @foreach (var category in Model.categorys)
                                        {
                                            <li><a asp-page="@Configuration.GetSection("AspPageRounting")["Listing"]" asp-route-categoryId="@category.Id" asp-route-pageNo="1">@category.Name</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                @*                                    <div class="total-products">
                                    <p><span>186</span> products found</p>
                                    </div>*@
                                <!-- Sorting -->
                                @* <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                    <select name="select" id="sortByselect">
                                    <option value="value">Highest Rated</option>
                                    <option value="value">Newest</option>
                                    <option value="value">Price: $$ - $</option>
                                    <option value="value">Price: $ - $$</option>
                                    </select>
                                    <input type="submit" class="d-none" value="">
                                    </form>
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @foreach (var product in Model.products.Items)
                        {
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                <div class="product-img">
                                        @* @functions{
                                            public string GetImage(Guid productId)
                                            {
                                            return Model.productImage(productId);
                                            }
                                            }*@
                                        <img src="https://drive.google.com/uc?export=view&id=@(Model.productImage(product.Id).Result)" alt="">
                                    </div>

                                    <!-- Product Description -->
                                <div class="product-description">
                                        <a asp-page="/ProductDetail" asp-route-productId="@product.Id">
                                            <h6>@product.Name</h6>
                                        </a>
                                        <p class="product-price">@product.Price</p>

                                        <!-- Hover Content -->
                                </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        @if (Model.currentPage <= 1)
                        {
                            Model.currentPage = 1;
                        }
                        else
                        {

                            <li class="page-item"><a class="page-link" asp-page="@Configuration.GetSection("AspPageRounting")["Listing"]" asp-route-categoryId="@Model.category" asp-route-pageNo="@(Model.currentPage-1)"><i class="fa fa-angle-left"></i></a></li>
                        }

                        @if (Model.products.TotalPages != 0)
                        {
                            <li class="page-item"><a class="page-link" href="#">@Model.currentPage</a></li>
                        }

                        @if (Model.currentPage >= Model.products.TotalPages)
                        {
                            Model.currentPage = Model.products.TotalPages;
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-page="@Configuration.GetSection("AspPageRounting")["Listing"]" asp-route-categoryId="@Model.category" asp-route-pageNo="@(Model.currentPage+1)"><i class="fa fa-angle-right"></i></a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
